
*.idea
*.kate-swp
*~
*.bak
__pycache__
*.swp

#notebooks
/.ipynb_checkpoints/

#caches
.cache
.coordcache

dev
.todo
caltest.py
mp_test.py
ideas.py

examples

EMvsCON
smatchtest.py
fitshead.sh
lc.py

dssmatchtest.py
fitshead.sh
lc.py


