

*.kate-swp
*~
*.bak
__pycache__
*.swp
/.pytest_cache
/.vscode
/.idea
/.pylintrc
/.ipynb_checkpoints/
*.code-workspace

# old code
dev
iraf_hacks.py
lightcurve.py
pipeline.py
uncertainty.py
fast.py
filenaming.py

# needs integrating
tests/test_pre.py
tests/mp_test.py
tests/data
tests/_pprint.py
tests/chariklo.py
tests/ObsLog-Aug2020-2.py
foo.py
EMvsCON*
tests/j1928.py
tests/polars.py
